<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>GrowMore</display-name>
<filter>
	<filter-name>validationSignUp</filter-name>
	<filter-class>view.validationSignUp</filter-class>
</filter>
<filter-mapping>
	<filter-name>validationSignUp</filter-name>
	<url-pattern>/SignUp</url-pattern>
</filter-mapping>
   <filter>
	<filter-name>AuthenticationSignUp</filter-name>
	<filter-class>view.AuthenticationSignUp</filter-class>
</filter>
<filter-mapping>
	<filter-name>AuthenticationSignUp</filter-name>
	<url-pattern>/SignUp</url-pattern>
</filter-mapping>




<filter>
	<filter-name>validationLogin</filter-name>
	<filter-class>view.validationLogin</filter-class>
</filter>
<filter-mapping>
	<filter-name>validationLogin</filter-name>
	<url-pattern>/Login</url-pattern>
</filter-mapping>
<filter>
	<filter-name>AuthenticationLogin</filter-name>
	<filter-class>view.AuthenticationLogin</filter-class>
</filter>
<filter-mapping>
	<filter-name>AuthenticationLogin</filter-name>
	<url-pattern>/Login</url-pattern>
</filter-mapping>


</web-app>